{{!-- <!-- Navigation Section --> --}}
<nav class="navbar nav-lg">

    <button class="nav-btn btn-hover">
        <a href="/rankings-individual"><i class="fas fa-chart-bar"></i></a>
    </button>

    <button class="nav-btn btn-hover">
        <a href="/"><i class="fa-solid fa-house-chimney"></i></a>          
    </button>

    <button class="nav-btn btn-hover">
        <a href="/clubpage"><i class="fas fa-chess"></i></a>             
    </button>

    <button class="nav-btn btn-hover">
        <a href="/user-profile"><i class="fas fa-user"></i></a>            
    </button>
</nav>