<body class="bg-[#272522]">
    {{!-- <!-- Main Section --> --}}
    <main class="min-h-screen min-w-screen flex flex-col gap-y-8">


        {{!-- <!-- Buttons for indaviduals or clubs --> --}}
        <section class="flex mt-8 bg-[#272522] "> 
            <button class="basis-1/2 text-white bg-[#00BA4B] hover:bg-blue-800 focus:ring-1 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">
                <a href="/rankings-individual">
                    Indavidual Rankings
                </a>
            </button>
            <button class="basis-1/2 text-white bg-[#00BA4B] hover:bg-blue-800 focus:ring-1 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">
                <a href="/rankings-club">
                    Club Rankings
                </a>
            </button>    
        </section>

        {{!-- <!-- List of rankings. All info is sample data rn but needs to be dynamically changeable--> --}}
        <section class="flex flex-wrap flex-grow justify-center mt-8 bg-[#272522]"> 
            <ul class="flex flex-col items-center gap-4">
                <li class= "underline font-bold font text-[#FFD700] text-2xl" ><i class="fa-solid fa-medal"></i>
                    Jane  5,000
                </li>
                <li class= "underline font-bold text-[#C0C0C0] text-xl" ><i class="fa-solid fa-medal"></i>
                    Joe  5,000
                </li>
                <li class= "underline font-bold text-[#CD7F32] text-lg" ><i class="fa-solid fa-medal"></i>
                    Jackson  5,000
                </li>
                <li class= "underline font-bold text-[#ffffff]" >
                    Anna  5,000
                </li>
                <li class= "underline font-bold text-[#ffffff]" >
                    Martha  5,000
                </li>
            </ul>  
        </section>

        {{> navbar }}
    
    </main>
</body>